<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="P2 local build">
<locations>
<location path="/Users/adreghiciu/work/p2TargetPlatform/eclipse" type="Profile"/>
</locations>
</target>
