<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2007-2013 Sonatype, Inc.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

-->
<?eclipse version="3.0"?>
<plugin
>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.equinox.p2.director"
            name="Sonatype P2 Fork Runtime">
         <property
               name="appName"
               value="Sonatype P2 Fork Runtime">
         </property>
      </product>
   </extension>
</plugin>